<head>
    <meta charset="UTF-8" />
    <!--<meta name="viewport" content="width=1200" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <meta name="title" content="KUMA | Kaywon University Museum of Art" />
    <meta
        name="description"
        content="KUMA(Kaywon University Museum of Art)는 계원예술대학교의 부설 미술관으로, 예술과 디자인 교육의 실천적 현장이자 창의적 실험이 이루어지는 문화 플랫폼입니다. 본 미술관은 전시, 교육, 아카이브, 지역사회 연계 프로그램을 통해 동시대 시각문화에 대한 비판적 담론을 형성하고, 학생·연구자·현장 전문가 간의 교류를 촉진합니다. 또한 산업체와의 협업 전시, 학제 간 융합 프로젝트를 통해 미래 예술교육의 새로운 방향을 제시하고 있습니다. KUMA는 대학 내·외부의 다양한 구성원이 참여하는 열린 예술 생태계를 지향하며,예술이 일상과 사회를 연결하는 다리 역할을 수행합니다."
    />
    <meta
        property="og:title"
        content="KUMA | Kaywon University Museum of Art"
    />
    <meta
        property="og:description"
        content="KUMA(Kaywon University Museum of Art)는 계원예술대학교의 부설 미술관으로, 예술과 디자인 교육의 실천적 현장이자 창의적 실험이 이루어지는 문화 플랫폼입니다. 본 미술관은 전시, 교육, 아카이브, 지역사회 연계 프로그램을 통해 동시대 시각문화에 대한 비판적 담론을 형성하고, 학생·연구자·현장 전문가 간의 교류를 촉진합니다. 또한 산업체와의 협업 전시, 학제 간 융합 프로젝트를 통해 미래 예술교육의 새로운 방향을 제시하고 있습니다. KUMA는 대학 내·외부의 다양한 구성원이 참여하는 열린 예술 생태계를 지향하며,예술이 일상과 사회를 연결하는 다리 역할을 수행합니다."
    />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />

    {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
    <script
        defer
        src="https://cdnjs.cloudflare.com/ajax/libs/iamdustan-smoothscroll/0.4.0/smoothscroll.min.js"
    ></script>
    <script defer src="/script/global.js"></script>
    {{ if .IsHome }}
    <script defer src="/script/kuma.js"></script>
    <script defer src="/script/ex-kuma.js"></script>

    {{ else if eq .Layout "kuma" }}
    <script defer src="/script/kuma.js"></script>

    {{ else if eq .Layout "ex-kuma" }}
    <script defer src="/script/ex-kuma.js"></script>
    {{ end }}
</head>
