        <div class="about-container" id="kuma-about">
            {{ $about := site.GetPage "/kuma-about" }}

            <div>
                <img src="{{ $about.Params.ko.image }}" alt="" />
            </div>

            <br />

            <div class="section-title">About</div>

            <div>
                <span data-lang="ko">
                    {{ $about.Params.ko.description | markdownify }}
                </span>

                <span data-lang="en">
                    {{ $about.Params.en.description | markdownify }}
                </span>
            </div>
            <br />
            <div class="subtitle">
                <span data-lang="ko">대표 소장품</span>
                <span data-lang="en">Collection Highlights</span>
            </div>

            {{ partial "kuma/collections.html" . }}

            <br />
            <div class="subtitle">
                <span data-lang="ko">KUMA 운영위원회</span>
                <span data-lang="en">KUMA Committee</span>
            </div>

            {{ partial "kuma/committee.html" . }}
        </div>
